<div id="root">

<h1> SalesLoft: Level 1 </h1>

    <% @first_name.zip(@email_address, @title).each do |name, email, title| %>
        
        <div id="grouping">
            Name: <%= name %> 
            E-mail: <%= email %> 
            Title: <%= title %> 
        </div>

    <% end %>

</div>